//! **************************************************************************
// Written by: Map P.68d on Sun Apr 13 22:00:22 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "2.5";
COMP "i_clk_n" LOCATE = SITE "P126" LEVEL 1;
COMP "i_clk_p" LOCATE = SITE "P127" LEVEL 1;
COMP "o_clk_n" LOCATE = SITE "P50" LEVEL 1;
COMP "o_clk_p" LOCATE = SITE "P51" LEVEL 1;
COMP "o_data_n<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "o_data_n<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "o_data_n<2>" LOCATE = SITE "P43" LEVEL 1;
COMP "o_data_n<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "o_data_n<4>" LOCATE = SITE "P38" LEVEL 1;
COMP "o_data_n<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "o_data_p<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "o_data_p<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "o_data_p<2>" LOCATE = SITE "P44" LEVEL 1;
COMP "o_data_p<3>" LOCATE = SITE "P41" LEVEL 1;
COMP "o_data_p<4>" LOCATE = SITE "P39" LEVEL 1;
COMP "o_data_p<5>" LOCATE = SITE "P58" LEVEL 1;
COMP "i_data_n<0>" LOCATE = SITE "P123" LEVEL 1;
COMP "i_data_n<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "i_data_n<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "i_data_n<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "i_data_n<4>" LOCATE = SITE "P114" LEVEL 1;
COMP "i_data_n<5>" LOCATE = SITE "P111" LEVEL 1;
COMP "i_data_p<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "i_data_p<1>" LOCATE = SITE "P121" LEVEL 1;
COMP "i_data_p<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "i_data_p<3>" LOCATE = SITE "P117" LEVEL 1;
COMP "i_data_p<4>" LOCATE = SITE "P115" LEVEL 1;
COMP "i_data_p<5>" LOCATE = SITE "P112" LEVEL 1;
NET "fabric_clk" PERIOD = 8 ns HIGH 50%;
NET "loopback_clk" PERIOD = 8 ns HIGH 50%;
SCHEMATIC END;

